.home {
    /* background-color: red; */
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);

}

@media(max-width: 880px) {
    .home {
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}