.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #146C94;
    color:#F6F1F1 ;

    height: 80px;
    
    box-shadow: 0px -1px 10px -5px rgba(0,0,0,0.75);
}